@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);");
@import "variables";

* {
  padding: 0px;
  margin: 0px;
  font-family: $font-sans;
  letter-spacing: 1px;
  list-style: none;
  text-decoration: none;
}

#container {
  width: 100%;
}

/*************
Main Structure
*************/

#header {
  width: 100%;
  background-color: black;
  margin-bottom: 80px;
  height: $header-height;
  #header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: $header-width;
    margin: 0 auto;
    pointer-events: none;
  }
  #header-content {
    position: relative;
    left: 0;
    max-width: $header-width;
    margin: 0 auto;
    color: white;
  }
}

#header-particles {
  height: $header-height;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, rgba($col-main, 0.10) 100%);
}


#banner {
  font-size: 18px;
  padding: 20px 10px;
  border-bottom: 2px solid rgba($col-main, 0.5);
  background-color: rgba(black, 0.75);
  height: 20px;
  a {
    color: white;
    text-decoration: none;
    pointer-events: auto;
    cursor: pointer;
    vertical-align: bottom;
  }
}

#banner-left {
  float: left;
  width: 50%;
  height: 23px;
  position: relative;
  a {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-decoration: none;
    color: white;
    font-family: $font-serif;
    font-weight: 700;
  }
}
#banner-right {
  width: 50%;
  float: left;
  ul {
    float: right;
    li {
      display: inline;
      font-size: 22px;
      line-height: 1;
    }
  }
}

#hero {
  padding: 120px 20px 0px 20px;
  text-align: center;
  text-transform: uppercase;
  h1 {
    margin: 0;
    font-size: 48px;
    text-shadow: 0 1px 8px #000;
  }
  #hero-actions {
    margin-top: 40px;
  }
  .hero-action {
    margin: 5px;
  }
}

#about {
  width: 100%;
  margin: 0 auto;
  #info {
    max-width: 880px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0 60px 0;
    border-bottom: $hr;
    p {
      font-size: 22px;
    }
  }
}

#projects {
  width: 100%;
  margin-top: 60px;
  h2 {
    color: $col-gray;
    height: 50px;
  }
  .project {
    max-width: $project-width;
    margin: 0 auto;
    padding: 30px 20px 60px 20px;
    &:last-of-type {
      border: none;
      padding-bottom: 00px;
    }
  }
  .project-image {
    width: 34%;
    float: left;
    margin-top: 73px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
      &#clicky {
        width: 235px;
        @include box-shadow(0px, 0px, 15px, rgba(0,0,0,0.5));
      }
      &#gifpro {
        width: 300px;
      }
      &#hue {
        width: 300px;
      }
    }
  }
  .project-info {
    width: 59%;
    float: left;
    height: auto;
  }

  h3 {
    color: $col-gray;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    border-bottom: $hr;
    padding-bottom: 20px;
    margin: 1em 0;
  }
  p {
    margin: 1em 0;
  }
}

footer {
  width: 100%;
  min-height: 500px;
  height: auto;
  padding: 30px 0;
  margin-top: 80px;
  background-color: black;
  // @include gradient;
  color: white;
  #footer-container {
    max-width: $header-width;
    height: 400px;
    margin: 20px auto;
    padding: 0 20px;
  }
  h2 {
    height: 75px;
  }
  .footer-split {
    float: left;
    width: 50%;
    * {
      font-size: 18px;
      line-height: 2;
      text-decoration: none;
    }
  }
}

#footer-left {
  *:not(i) {
    color: white;
    font-family: $font-serif;
  }
  a {
    &:hover,
    &:focus {
      color: lighten($col-main, 15%);
      @include transition(color, 0.15s, ease-out);
    }
  }
  #contact {
    i {
      margin-right: 10px;
      color: $col-main;
    }
  }
}

#footer-right {
  input,
  textarea {
    display: block;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    padding: 0 10px;
  }
  textarea {
    resize: none;
    margin-bottom: 25px;
  }
  fieldset {
    border: none;
  }
  label {
    text-transform: uppercase;
    display: block;
    color: white;
  }
  #footer-submit {
    font-weight: 400;
    margin-top: 30px;
  }
}

/*************
Useful Classes
*************/

span.button {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  background-color: $col-main;
  color: white;
  border-radius: 3px;
  border: 2px solid darken($col-main, 0%);
  padding: 10px;
  pointer-events: auto;
  cursor: pointer;
  text-transform: uppercase;
  &:hover,
  &:focus {
    @include box-shadow(0px, 0px, 15px, $col-main);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both
}

a.highlight {
  text-decoration: none;
  color: $col-main;
  font-family: $font-serif;
  font-weight: 700;
  border-bottom: 2px solid rgba($col-main, 0);
  &:hover,
  &:focus {
    border-color: rgba($col-main, 1);
    @include transition(border-color, 0.2s, ease-out);
  }
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: 6px;
  font-size: 32px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: $col-gray;
  font-family: $font-serif;
  font-weight: 300;
}

/*************
Media Queries
*************/

@media screen and (max-width: 64em) {

  h1#tagline {
    font-size: 38px;
  }

  #projects {
    #projects-list-title {
      font-size: 38px;
    }
    .project-image {
      margin-right: 2%;
    }
    .project-info {
      margin-left: 2%;
    }
  }

  #footer-container h2,

  #about h2 {
    // font-size: 22px;
  }

}

@media screen and (max-width: 48em) {

  #header {
    margin-bottom: 40px;
  }

  #about #info {
    margin: 0 20px;
  }

  #projects {
    #projects-list-title {
      font-size: 27px;
    }
    .project {
      padding-bottom: 20px;
    }
    .project-image {
      margin-right: 2%;
    }
    .project-info {
      margin-left: 2%;
    }
  }

  #footer-container h2,
  #about h2 {
    // font-size: 18px;
  }

  #info {
    p {
      font-size: 18px !important;
    }
  }


}

@media screen and (max-width: 35.5em) {
  #header {
    margin-bottom: 30px;
    h1#tagline {
      font-size: 27px !important;
    }
  }

  #projects {
    #projects-list-title {
      margin-bottom: 20px;
      h2 {
        font-size: 27px;
      }
    }
    .project {
      h3 {
        // font-size: 16px;
      }
      .project-info {
        border-left: none !important;
        border-bottom: $hr;
        padding-bottom: 20px;
        width: 100% !important;
        margin-left: 0;
      }
      .project-image {
        margin-right: 0;
        width: 100% !important;
        margin-bottom: 40px;
        margin-top: 0px;
      }
      &.project-hue .project-info {
        position: relative;
        top: -100px;
      }
    }
  }

  footer {
    #footer-left {
      width: 100%;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: $hr;
      border-color: $col-main;
    }
    #footer-right {
      width: 100%;
    }
  }

}
