@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

$primary: #fa4137;
$primary2: #f81e2b;
$black: #241f20;
$grey: #e2e2e4;
$white: #eeeff3;

$background: $white;
$copy: $black;

$fontFamily: 'Lato', sans-serif;
